@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    body {
        margin: 0;
        font-family: 'Prompt', sans-serif;
        color: white;
        background: #202731;
       }

       p {
        font-size: 1.5em;
        max-width: 50%;
        text-align: center;
        color: #fff;
      }
 
      h1 {
        font-size: 6em;
        
      }
      
      h2 {
        font-size: 7em;
      }

      h1, h2 {
        margin: 0;
        color: #fff;
      }
   
    