




      
      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      h1 {
        font-size: 6em;
        
      }
      
      h2 {
        font-size: 7em;
      }
      h1,
      h2 {
        margin: 0;
        color: #fff;
      }
      p {
        font-size: 1.2em;
        max-width: 50%;
        text-align: center;
        color: #fff;
      }